@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  color: "white";
}
@media (max-width: 640px) {
  .no-scroll {
    overflow: hidden;
    height: 100%;
  }
}
